
.card {
  margin: 20px;
}


.mat-card {
  width: 380px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5); 
  box-shadow: 10px 11px 7px 3px rgb(161 126 126 / 60%);
  
}


.mat-card-content {
  padding: 15px;
}


.quote {
  font-size: 20px;
  font-weight: bold;
  color: rgb(217, 221, 0);
  margin-bottom: 12px;
}


.field-name {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: bold;
}
