<body>
  
<div>
  <mat-toolbar>
  <mat-divider></mat-divider>
    <mat-toolbar-row>
      <div fxLayout="row" fxLayoutAlign="space-between center fxLayoutAlign ">
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/got-quotes">Quotes</button>
      <button mat-button routerLink="/contact-us">Contact Us</button>

    
    </div>
    <h1 id="top-nav">Game Of Thrones</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

</body>
  